/*
#namawebdesktop {
	display: none;
	}
*/
#logo img {
	width: 25%;
	}

#tagline {
	display: none;
	}

#isimenu {
	display: none;
	}

#isilink {
/*
	display: none;
*/
	}

#isimain {
/*
	text-align: justify;	
*/
	}

#isiads {
/*	display: none; */
	}

#isiads img {
	width: 45%;
	padding: 10px;
	margin: 10px;	
	}
		#img1 {
 			display: none; 	
 		}
		#img2 {
 			display: none; 	
 		}
		#img3 {
 			display: none; 	
 		}
		#img4 {
 			display: none; 	
 		}
		#img5 {
 			display: none; 	
 		}
		#img6 {
 			display: none; 	
 		}
		#img7 {
 			display: none;
 		}
		#img8 {
 			display: none; 	
 		}
		#img9 {
 			display: none;
 		}

#isifooter {
	text-align: right;
	}

/* ******************* */
/* Menu HP             */
/* ******************* */

/* menu level 1 */
#menuhp ul {
	background-color: lightgreen;
	padding: 0 2px 0 2px;
	margin: 0;
	border: 0;
	list-style: none;
	position: relative;
	display: inline-table;		
}
	#menuhp ul li {
		float: left;
	}
		#menuhp ul li a {
			display: block;
			padding: 2px 5px 2px 5px;
			text-decoration: none;
			color: black;
		}