#namawebdesktop {
	display: none;
}

#tagline {
	display: none;
	}

#isimenu {
	display: none;
	}

#isilink {
/*
	display: none;
*/
}

#isimain {
/*
	text-align: justify;	
*/
	}

#isiads {
	display: none;
}

#isifooter {
	text-align: right;
}

/* ******************* */
/* Menu HP             */
/* ******************* */

/* menu level 1 */
#menuhp ul {
	background-color: lightgreen;
	padding: 0 2px 0 2px;
	margin: 0;
	border: 0;
	list-style: none;
	position: relative;
	display: inline-table;		
}
	#menuhp ul li {
		float: left;
	}
		#menuhp ul li a {
			display: block;
			padding: 2px 5px 2px 5px;
			text-decoration: none;
			color: black;
		}