h1 { 
	font-family: times;
	font-size: 250%;
}

#container {
	display: grid;
	grid-template-rows: auto auto auto auto;
	grid-template-columns: 20% 60% 20%;
	grid-template-areas:
		"logo namaweb tagline"
		"isimenu isimenu isimenu"
		"isilink isimain isiads"
		"isifooter isifooter isifooter";
	}
		
#logo {
	grid-area: logo;
	margin-top: 4px;
	margin-bottom: 8px;
	}

#logo img {
	width: 75%
	}

#namawebdesktop {
	grid-area: namaweb;
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
/*	color: green; */
	}

#namawebmobile {
	display: none;
}

#tagline {
	grid-area: tagline;
	text-align: right;
	}

#garisbatas {
	display: none;
}

#isimenu {
	grid-area: isimenu;
	background-color: lightgreen;
	margin: 0;
	padding: 0;
	border: 0;
	}

#menuhp {
	display: none;
	}

#isilink{
	grid-area: isilink;
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: lightcyan;
	font-size: 100%;
	text-align: justify;	
/*	color: green; */
}

#isimain {
	grid-area: isimain;
	padding-left: 10px;
	padding-right: 10px;
	background-color: lightcyan;
	line-height: 180%;
	text-align: justify;	
/*	color: green; */
	}

#isiads {
	grid-area: isiads;
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: lightcyan;
/*	color: green; */
	}
	
#isiads img {
	width: 100%;
	}
		#img1 {
 			display: none; 	
 		}
		#img2 {
 			display: none; 	
 		}
		#img3 {
 			display: none; 	
 		}
		#img4 {
 			display: none; 	
 		}
		#img5 {
 			display: none; 	
 		}
		#img6 {
 			display: none; 	
 		}
		#img7 {
 			display: none;
 		}
		#img8 {
 			display: none; 	
 		}
		#img9 {
 			display: none;
 		}
 		
#isifooter {
	grid-area: isifooter;
	text-align: right;
	color: green;
	}

/* ******************* */
/* Navigation Isi Menu */
/* ******************* */

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;		
}

/* menu level 1 */
nav ul {
	background-color: lightgreen;
	padding: 0 15px 0 15px;
	margin: 0;
	border: 0;
	list-style: none;
	position: relative;
	display: inline-table;		
}
	nav ul::before {
		content: "";
		clear: both;
		display: block;
	}
	nav ul::after {
		content: "";
		clear: both;
		display: block;
	}	
		nav ul li {
			float: left;
		}
		nav ul li:hover {
			background: #4b545f;
		}
		nav ul li:hover a {
			color: #fff;
		}
			nav ul li a {
				display: block;
				padding: 4px 15px 4px 15px;
				text-decoration: none;
				color: black;
			}

/* menu level 2 */
nav ul ul {
	background: #5f6975;
	border-radius: 0;
	padding: 0;
	position: absolute;
	top: 100%;
}
	nav ul ul li {
		float: none;
		position: relative;		
	}
		nav ul ul li a {
			padding: 4px 15px 4px 15px;
		}
			nav ul ul li a:hover {
				background: #4b545f;
			}

/* menu level 3 */
nav ul ul ul {
	padding: 0;
	position: absolute;
	left: 100%;
	top: 0;		
}
		nav ul ul ul li a {
			padding: 4px 15px 4px 15px;
		}
